<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8">
    <meta name="referrer" content="origin">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">


    <title><%= t(:main_title) %></title>
    <meta name="description" content="<%= t(:main_description) %>">
    <meta name="keywords" content="<%= t(:main_keywords) %>"/>

    <meta name="rating" content="general"/>
    <meta http-equiv="content-language" content="sr-Latn"/>

    <meta property="og:site_name" content="Utisak"/>
    <meta property="og:url" content="http://utisak.com"/>
    <meta property="og:title" content="<%= t(:main_title) %>"/>
    <meta property="og:description" content="<%= t(:main_description) %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= image_url("media-cover.png") %>"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="<%= t(:main_title) %>"/>
    <meta name="twitter:description" content="<%= t(:main_description) %>"/>
    <meta name="twitter:site" content="@utisak_"/>
    <meta name="twitter:domain" content="Utisak"/>
    <meta name="twitter:image" content="<%= image_url("media-cover.png") %>" />
    <meta name="twitter:creator" content="@utisak_"/>

    <meta itemprop="title" content="<%= t(:main_title) %>"/>
    <meta itemprop="description" content="<%= t(:main_description) %>"/>

    <meta name="googlebot" content="noodp"/>
    <meta name="slurp" content="noydir"/>
    <meta name="msnbot" content="noodp"/>

    <%= favicon_tag "favicon.png", :type => "image/x-icon" %>
    <%= favicon_tag "apple-touch-icon.png", :rel => "apple-touch-icon" %>

    <%= stylesheet_link_tag :application %>
    <script>document.write('<base href="' + document.location + '" />');</script>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "lazy_js" %>
    <div class="container u-full-width">

      <div class="row header">
        <%= partial "header" %>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
