<!DOCTYPE html>
<html lang="<%= t(:time_ago_lang) %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script>document.write('<base href="' + document.location + '" />');</script>

    <title><%= t(:main_title) %></title>
    <meta name="description" content="<%= t(:main_description) %>">

    <%= favicon_tag "favicon.png", :type => "image/x-icon" %>
    <%= favicon_tag "apple-touch-icon.png", :rel => "apple-touch-icon" %>

    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "lazy_js" %>
    <div class="container u-full-width">

      <div class="row header">
        <%= partial "header" %>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
