<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>

    <title>Utisak | The latest news</title>
    <meta name="description" content="">

    <%= favicon_tag "myicon.ico", :type => "image/x-icon" %>
    <%= favicon_tag "myicon.ico", :rel => "apple-touch-icon" %>

    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>">
    <%= javascript_include_tag :application %>

    <div class="container u-full-width">

      <div class="row header">
        <%= partial "header" %>
      </div>

      <%= yield %>

      <%= @swiftype_token %>
    </div>

    <%= partial "swiftype" %>
  </body>
</html>
