<div class="nine columns" id="header">
  <a href="/" tabindex=1>
    <%= svg "logo" %>
  </a>
  <span class="twitter-typeahead">
    <input class="search typeahead tt-input" placeholder="<%= t(:search) %>" name="q" type="text" autocomplete="off" spellcheck="false" dir="auto" tabindex=2>
  </span>

</div>

<div class=" header-nav">

  <% if @page_name == "index" %>
    <a href="javascript:_scrollTo('categories', 200)"
      tabindex=3
      class="header-nav-link header-nav-categories">
      <%= t(:categories) %>
    </a>

    <a href="/o-nama" class="header-nav-link" tabindex=3><%= t(:about_us) %></a>
  <% else %>
    <a href="/" class="header-nav-link" tabindex=3><%= "â® #{t(:back_to_home)}" %></a>
  <% end %>

</div>
