<% content_for :page_classes, "page-loading" %>
<% @page_name = "index" %>

<div class="row app-content" ng-app="postsApp" app-content>
  <div class="nine columns main-content" ng-controller="PostsController as postsCtrl">

    <h5 ng-switch on="postsCtrl.sort">
      <span ng-switch-when="newest">
        <%= t(:newest) %>
        <!-- dot spacer --> 路 <!-- dot space -->
        <a href ng-click="postsCtrl.setSort('top')"><%= t(:top) %></a>
      </span>

      <span ng-switch-when="top">
        <a href ng-click="postsCtrl.setSort('newest')"><%= t(:newest) %></a>
        <!-- dot spacer --> 路 <!-- dot space -->
        <%= t(:top) %>
      </span>
    </h5>

    <hr>

    <div class="article"
         ng-repeat="post in postsCtrl.posts track by $index"
         ng-class="{sharing: post.sharing}">
      <div class="article-share" ng-click="postsCtrl.share(post)">
        <div class="article-share-content">
          <ul class="share-buttons">
            <li>
              <a href share-link="https://www.facebook.com/sharer/sharer.php?u={{post.share_url | urlEncode}}">
                <%= svg "icon-facebook" %>
              </a>
            </li>
            <li>
              <a href share-link="https://twitter.com/intent/tweet?source={{post.share_url | urlEncode}}&amp;text={{post.title | urlEncode}}%20{{post.share_url | urlEncode}}&amp;via=utisak_">
                <%= svg "icon-twitter" %>
              </a>
            </li>
            <li>
              <a href share-link="https://plus.google.com/share?url={{post.share_url | urlEncode}}">
                <%= svg "icon-gplus" %>
              </a>
            </li>
            <li>
            <a href share-link="mailto:?subject=%5BUtisak%5D%20{{post.title | urlEncode}}&amp;body={{ '<%= t(:email_intro) %> ' | urlEncode }}%0D%0A {{post.title | urlEncode}}%20{{post.share_url | urlEncode}}">
                <%= svg "icon-email" %>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- .article-share -->

      <div class="article-image">
        <div class="article-thumb" ng-class="!post.hero_image_url ? 'article-thumb-' + post.category_slug : ''">
          <a target="_blank" rel="nofollow" ng-href="{{post.share_url}}" tabindex=-1>
            <div class="afkl-lazy-wrapper" afkl-lazy-image="{{post.hero_image_url}}" ng-show="post.hero_image_url"></div>
          </a>
        </div>
      </div><!-- .article-image -->

      <div class="article-meta">
        <div class="article-title">
          <a target="_blank" rel="nofollow" ng-href="{{post.share_url}}" ng-bind="post.title"></a>
        </div>
        <div class="article-description" ng-bind-html="post.excerpt"></div>

        <div class="article-author">
          <a target="_blank" rel="nofollow" ng-href="{{post.share_url}}" ng-bind="post.author"></a>
            <span am-time-ago="postsCtrl.publishedAt(post)"></span>
            <!-- dot spacer --> 路 <!-- dot space -->
          <span>
            <span class="article-stats">
              {{ post.total_views }} <%= t(:views) %>
              <!-- dot spacer --> 路 <!-- dot space -->
              <%= t(:time_to_read) %> {{ postsCtrl.readTime(post) }} <%= t(:minutes) %>
            </span>
          </span>
        </div>

        <div class="share">
          <a href ng-click="postsCtrl.share(post)"><%= t(:share) %></a>
        </div>
      </div><!-- .article-meta -->

    </div><!-- .article- -->

    <div class="load-more"
         ng-class="{disabled: postsCtrl.loading}"
         ng-click="postsCtrl.nextPage()"
         ng-show="postsCtrl.morePages">
         <span ng-hide="postsCtrl.loading"><%= t(:load_more) %></span>
      <div class="spinner" ng-show="postsCtrl.loading"></div>
    </div>
  </div>

  <%= partial "sidebar" %>
</div>

<div class="error-message">
  <p><%= t(:loading_error_heading) %></p>
  <p><%= t(:loading_error_message) %></p>
</div>

<div class="loading-message">
  <p>Utisak<span class="blinking-cursor">_</span></p>
</div>
